// Colors
$dark-grey: #333;
$blue: #3498db;
$gray: #34495e;
$light-gray: #ecf0f1;
// Font Size
$font-size-large: 2rem;
$font-size-small: 1.4rem;
// Spacings
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.2rem;
$desktop-breakpoint: 48rem;
